

	#contenedor{
		width:100%;
		max-width:600px;
		padding:25px 25px 10px;
		border-width:1px;
		border-style:dashed dotted;
		border-color:blue red green orange;
		margin:0 auto;
	}

	p{
		width:30%;
		max-width:300px;
		padding:25px 10px;
		border:1px solid black;
	}

	.Nombre{margin:auto;}
	.Calleprimera {margin:auto;}
  .Callesegunda {margin:auto}
  .Ciudad {margin:auto;}
  .Provincia {margin:auto;}
  .Codigopostal {margin:auto;} 
	.w-33 {margin:auto}
