* {
    font-family: Montserrat, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: justify;
}

body {
    width: 1200px;
    padding: 80px 0 0;
    margin: auto;
}

h1,
h2 {
    text-align: center;
}

h1,
h2,
p {
    padding: 5px;
}

p {
    font-size: 18px;
}

br,
ul,
li {
    margin-bottom: 40px;
    margin-top: 40px;
}